.header {
	font-variant: small-caps;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 800;
	padding-left: 40px;
	line-height: 32px;
	background: url("icon.png") no-repeat left top;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}

.header .small {
	font-variant: normal;
	font-weight: normal;
}

.alert {
	padding: 5px 15px;
}

#color-preview {
	padding: 2px;
	height: 60px;
	margin-top: 15px;
	border-radius: 4px;
}

.select-color {
	cursor: pointer;
}

.similar-preview {
    height: 60px;
    width: 60px;
    padding: 2px;
    margin-top: 15px;
    border-radius: 4px;
    display: inline-block;
}

#color-shadings {
	margin-bottom: 0;
}

.no-color {
    padding: 1px;
    border: 1px solid #EEEEEE;
}

.shading-preview {
	height: 30px;
	margin-left: 15px;
	
}

.shading-preview-current{
	height: 30px;
	margin-left: 0;
	border-radius: 15px 0 0 15px;
}

.table > tbody > tr > td {
	padding: 2px;
	border: none;
}